.breadcrumb {
    font-size: @font-size-xsmall;
    padding: 0;
    margin: 0;
    background-color: transparent;

    .active {
        .strong;
    }

    a {
        color: @breadcrumb-color;
        text-decoration: none;
    }


    > li {
        padding-right: 3px;
    }
}
