.btn {
    border-radius: @border-radius-base;
}

.btn-default,
.dropdown-toggle.btn-default {
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open & {
        color: @theme-alt;
        background-color: @gray-lighter;
        border-color: @btn-default-border;
    }
}
