.btn {
    border-radius: @border-radius-base;
}

.btn-default,
.dropdown-toggle.btn-default {
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open & {
        color: @theme-alt;
        background-color: @gray-lighter;
        border-color: @btn-default-border;
    }
}

.btn-primary {
    color: #fff;
    border-color: #357ebd;
    &:hover {
        background-color: @blue-dark !important;
        border-color: #285e8e !important;
    }
}

.btn-theme {
    color: #fff;
    background-color: @brand-theme;
}

.btn-xl {
    padding: 7px 20px;
    font-size: @font-size-h3;
    line-height: 1.50;
}

.btn-link:hover {
    text-decoration: none;
}
