.hspacer(@size: 20px) {
  margin-top: @size;
  .clearfix();
}

.bumper(@size: 60px) {
  margin-bottom: @size; /* push next div down for better look */
  .clearfix();
}

.pad-top(@size: 15px) {
    padding-top: @size;
}

.pad-right(@size: 15px) {
    padding-right: @size;
}

.pad-bottom(@size: 15px) {
    padding-bottom: @size;
}

.pad-left(@size: 15px) {
    padding-left: @size;
}

.rounded-corner(@size: 2px) {
    .border-top-radius(2px);
    .border-bottom-radius(2px);
}

.hidden() {
    visibility: hidden !important;
    display: none !important;
}

.show() {
    visibility: visible !important;
    display: inherit !important;
}

.scroll-y-visible {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #fff; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }
}