// Colors
// -------------------------
@gray-dark:              #353535;
@gray:                   #999;
@gray-light:             #ccc;
@gray-lighter:           #efefef;

@blue-dark:              #0000bb;
@blue:                   #0096d5;
@blue-light:             #16e8fb;

@brand-primary:         @blue; // vialogues blue for various components e.g. button bg
@brand-theme:           #cc0000; // vialogues red
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          @brand-theme;
@brand-info:            #5bc0de;

@body-bg:               #fff;
@theme-bg:              @gray-dark; // black bg for nav, tabs, theme btns, etc
@theme-alt:             #192124; // alternative dark color mostly used for borders

@text-color:            @gray-dark;
@warning-color:         #cc0000;

@link-color:            @blue;
@link-hover-color:      @blue-light;

@container-desktop:     960px;

// Corner radius
// -------------------------

@border-radius-base:             2px;
@border-radius-large:            4px;
@border-radius-small:            1px;

// Custom Fonts
// -------------------------
@webfont-dir:             '../fonts';

@font-size-xxxsmall:      floor((@font-size-base * 0.6)); // ~8px
@font-size-xxsmall:       floor((@font-size-base * 0.75)); // ~10px
@font-size-xsmall:        ceil((@font-size-base * 0.75)); // ~11px
@font-size-xlarge:        @font-size-large; // ~18px
@font-size-med:           ceil((@font-size-base * 0.9)); // ~13px


// Components
// -------------------------
@border-radius-base:             2px;
@border-radius-large:            4px;
@border-radius-small:            1px;

@margin-base-vertical:        15px;
@margin-large-vertical:       20px;
@margin-small-vertical:       10px;


// Buttons
// -------------------------
@btn-default-color:              #353535;
@btn-default-border:             @table-border-color;

@btn-primary-bg:                 @brand-primary;


// Media queries breakpoints
// --------------------------------------------------
// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  960px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;


// Navbar
// -------------------------
@navbar-height:                    50px;
@navbar-margin-bottom:             50px;


// Panels
// -------------------------
@panel-danger-text: #fff;
@panel-danger-heading-bg: #ce1a25;
@panel-danger-border: #ce1a25;

@panel-success-text: #fff;
@panel-success-heading-bg: #52a759;
@panel-success-border: #52a759;


// Badges
// -------------------------
@badge-bg:                    @gray;
