//
// Custom Vialogues Classes
// --------------------------------------------------

html, body {
    word-wrap: break-word;
}

a, a:hover {
    text-decoration: none;
}

.vialogues-primary-color {
    color: @brand-primary;
}
.vialogues-theme-color {
    color: @brand-theme;
}
.vialogues-success-color {
    color: @brand-success;
}
.vialogues-warning-color {
    color: @brand-warning;
}
.vialogues-danger-color {
    color: @brand-danger;
}
.vialogues-info-color {
    color: @brand-info;
}

.gray-color {
    color: @gray;
}

.condensed {
    font-stretch: condensed;
}

.strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.vertical-center {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.selected {
    border: inset 3px @gray-light;
    background-color: @gray-lighter;
}

.vertical-space-30 {
    display: block;
    height: 30px;
}

.vertical-space-20 {
    display: block;
    height: 20px;
}

.vertical-space-10 {
    display: block;
    height: 10px;
}

.pad-top-30 {
    .pad-top(30px);
}

.divider-top {
    margin-top: 1px;
    border-top: 1px solid @gray;
    padding-top: 15px; /* not sure about this style Nara added */
}

.divider-bottom {
    border-bottom: 1px solid @gray;
    padding-bottom: 9px;
    margin-bottom: 15px;
}

.divider-left {
    margin-left: -2px; 
    border-left: 2px groove @gray-dark;
}

.content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.cancel-pad-right {
    padding-right: 0;
}

.cancel-pad-left {
    padding-left: 0;
}

.form-control {
    border-radius: 0;
    color: #000;
    padding-left: 6px;
    padding-right: 6px;
}


[contenteditable].form-control {
    height: auto;
    max-height: 270px;
    overflow-y: auto;
}

[contenteditable="false"].form-control {
    border: 0;
    padding: 0;
    cursor: default;
}

.text-color, .text-color a, .text-color:hover, .text-color a:hover {
    color: @text-color;
}

/*
 * truncate string to a single line in a container, showing "..." if texts overflow
 */
.truncate-1 > *:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    height: 1em;
}

.ellipsis i:before { content: "Read More";}

/*
 * Custom list styles
 */
ol.stepped {
    counter-reset: item;
    list-style-type: none;
    margin-left: 0;

    > li:before {
        content: 'Step ' counter(item, decimal) ': ';
        counter-increment: item;
    }
}

ul.hyphened {
    list-style-type: none;
    margin-left: 0;
    > li:before {
        content: '- ';
    }
}

/* Page Structuring
-------------------------------------------------- */

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px auto;
    padding: 50px 0 140px 0;
    position: relative;
    
    > .container {
        padding: 0;
        margin-top: 20px;
    }
    
    > #navigation {
        z-index: 999;
        top: 0;
    }
    
    #center_section {
        z-index: 100;
    }
}

#footer {
    height: 140px;
    padding-top: 30px;
    position: relative;
}


/* Components
-------------------------------------------------- */

.edlab-logo {
    background: url(../assets/img/vialogues_sprites.png) no-repeat -340px -50px;
    width: 102px;
    height: 26px;
    display: inline-block;
    margin: 10px;
}

.moderator-icon:before {
    content: 'M';
    background-color: @brand-theme;
    color: #fff;
    padding-right: 2px;
    padding-left: 2px;
    font-size: @font-size-xxsmall;
    border-radius: @border-radius-base;
    margin-right: 4px;
}

.ajax-loader {
    background: #aedef4 url(../assets/img/ajax_loader.gif) no-repeat 50% 50%;
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    min-height: 25px;
    .opacity(0.7);
    z-index: 999;
}

#sort_options_dropdown {
    position: relative;
    top: 2px;
}

.row {
    &.vialogue-entry-row {
        padding-top: 20px;

        &:first-of-type {
            padding-top: 0;
        }
    }
}


/* Vialogue Entry */
.vialogue-entry {
    .thumbnail {
        border: 0px;
        margin-bottom: 14px;
        padding: 0px;
        background-color: #000;
        border-radius: 0;

        .img-responsive {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &.col-xs-4 {
        .thumbnail {
            .img-responsive {
                max-height: 107px;
            }
        }
    }

    .timestamp {
        display: block;
        background: @gray-dark;
        color: @table-border-color;
        font-size: @font-size-xxsmall;
        padding-right: 4px;
        padding-left: 4px;
        position: relative;
        bottom: 19px;
        right: 5px;
        border-radius: @border-radius-base;
    }

    .caption {
        font-size: @font-size-med;
        border-bottom: 1px dotted @table-border-color;
        height: 53px;
    }

    &.col-xs-4 {
         .caption p {
            text-transform: capitalize;
        }
    }

    .badge {
        &.comment_number {
            color: #fff;
            background-color: rgba(255, 0, 0, 0);
            font-weight: 400;
            font-size: @font-size-xsmall;
            border-radius: @border-radius-base;
            padding: 7px 9px;
            letter-spacing: normal;
            background-image: url(../assets/img/commentbubble-red.png);
            background-repeat: no-repeat;
            height: 32px;
            width: 34px;
            display: block;
            position: absolute;
            top: 6px;
            right: 21px;
        }
    }

    &.vialogue-entry-full {
        .caption {
            color: @gray;
            height: auto;
        }
    }
}

/* Video Entry */
.video-entry {
    .clearfix;
    padding-bottom: 14px;
    border-bottom: 1px dotted @table-border-color;

    .media-body {
        color: @gray;
        font-size: @font-size-med;
        line-height: 1.3em;

        .duration {
            color: @gray;
        }

        .description {
            color: @gray;
        }

        .uploader {
            margin-bottom: 16px;
        }

        .provider {
            text-transform: capitalize;
        }
    }

    .popover-trigger {
        color: @gray;
    }

    .thumbnail-callout {
        .hidden;
    }

    .popover-content {
        width: 180px;
        min-height: 70px;
        padding: 7px 5px;
        font-size: @font-size-small;
        position: relative;

        > ul {
            margin: 5px auto 0 auto;

            li {
                margin-bottom: 0.5em;
                .comment-count {
                    display: inline-block;
                }
                p.truncate-1 {
                    display: inline-block;
                    margin-bottom: 0;
                    max-width: 80%;

                    > *:first-child {
                        display: block;
                    }
                }
            }
        }

        .text-over-icon {
            color: #fff;
            font-size: @font-size-xxxsmall;
            text-align: center;
            display: inline-block;
            width: 13px;
            margin-left: -18px;
            position: relative;
            top: -3px;
        }
    }

    h6 {
        font-size: @font-size-med;
        font-weight: normal;
        line-height: 1.3em;
        color: @gray-dark;
        margin-bottom: 6px;
        margin-top: 0px;
        text-transform: capitalize;
    }

    .btn-group.btn-group-sm.avideo {
        padding-top: 8px;
    }

    .avideo .btn-default .badge {
        color: @brand-theme;
        font-size: @font-size-xsmall;
    }

    .btn-xs {
        &.avideo {
            padding: 3px 9px;
            margin-top: 4px;
            font-size: @font-size-xsmall;
            width: 100%;
        }
    }

    &:not(.video-entry-full) {
        .media-body {
            max-height: 120px;

            .description {
                max-height: 3.9em;
            }
        }
    }
}

.video-entry-row {
    margin-top: 15px;

    &:first-of-type {
        margin-top: 0;
    }
}


/* Favorite Star */
.star-container {
    margin-right: 8px;

    .vialogue-entry & {
        margin-bottom: 34px;
    }

    .icon-star.star-off:before {
        color: @gray;
    }

    .icon-star.star-on:before {
        color: @blue;
    }
}

/* Char Counter */
.textarea-char-counter {
    width: 100%;
    display: block;
    text-align: right;
}


/* Override various plugin styles
-------------------------------------------------- */

.bootstrap-tagsinput {
    width: 100%;
    border: none;
    .box-shadow(none);
    padding-left: 0;
    padding-right: 0;

    .twitter-typeahead {
        width: 100%;

        .tt-query, .tt-hint {
            width: 100% !important;
            border-radius: 0;
            /* if we're really turning off all rounded corners, we should really create a custom-variables.less file (or something) where we set one global value for border-radius's to dereference in other files */
        }
    }
}
