#required {
    position: relative;
    top: 10px;
}

#create_group_form {
    #create_left {
        #secure_link {
            #group_secure_link {
                height: auto;
                word-break: break-all;
                margin-bottom: 8px;
            }
        }

        #privacy_settings {
            .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    #create_right {
        border-left: 1px dotted @table-border-color;
        min-height: 420px;

        .badge {
            background-color: @brand-danger;
        }

        .errorlist {
            list-style: none;
        }

        .vialogue-entry {
            position: relative;
            clear: both;
            padding: 10px 0;
            border-bottom: 1px dotted @table-border-color;

            .vialogue-left {
                display: block;
                float: left;
                width: 80px;
                margin-right: 10px;

                .thumbnail {
                    background-color: #000;
                    padding: 0;
                    margin: 0;
                    border-radius: 0;
                    border: none;
                    height: 45px;

                    img {
                        max-height: 45px;
                    }
                }
            }

            .vialogue-right {
                a[data-role="name"] {
                    vertical-align: top;
                    padding-right: 25px;
                }

                > button, > .selected-sign {
                    position: absolute;
                    display: block;
                    text-align: center;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    padding: 0;
                    height: 25px;
                    width: 25px;
                    color: @blue;
                }
            }

            &.remove-entry {
                a[data-role="thumbnail"], button[data-role="add"], .selected-sign {
                    display: none;
                }
            }

            &.add-entry {
                button[data-role="remove"], .selected-sign {
                    display: none;
                }
            }

            &.selected-entry {
                button[data-role="add"], button[data-role="remove"] {
                    display: none;
                }
            }
        }

        #selected_discussions {
            #selected_discussions_display {
                margin-bottom: none;
            }
        }

        #search_discussions {
            label[for="searchExistingVialogues"] {
                .hspacer(15px);
            }

            #searchExistingVialogues {
                height: 36px;
            }

            #searchVialoguesBtn {
                height: 36px;
                width: 36px;
                padding: 0;
                margin-left: 3px;
                color: @blue;
            }

            #searched_vialogues {
                .hspacer(15px);
            }

            .vialogue-right {
                height: 45px;
                margin-right: 25px;
            }
        }
    }

    #form_controls {
        .pull-right;
        .bumper(30px);
    }
}