/**
 * Carousel
 */
.carousel-inner { 
	width: 100%;
	overflow: hidden;
	text-align: center;

	> .item {
		margin: auto;
		white-space: nowrap;
	}
	
	.active.left {
		left: -320px;
	}
	
	.active.right {
		left: 320px;
	}
	
	.next {
		left: 320px;
	}
	
	.prev {
		left: -320px;
	}
}

#recent_vialogues h3, #most_active h3 {
    margin-bottom: 0;
}

/**
 * My Vialogues
 */

#my_vialogues > h3 {
	line-height: 34px;
	margin-left: 0;
	margin-right: 0;
}