/**
 * Carousel
 */

.carousel-inner { 
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel-inner > .item {
  margin: auto;
  white-space: nowrap;
}

.carousel-inner .active.left {
  left: -320px;
}

.carousel-inner .next {
  left: 320px;
}

.carousel-inner .active.right {
  left: 320px;
}

.carousel-inner .prev {
  left: -320px;
}

/**
 * My Vialogues
 */

#my_vialogues > h3 {
  line-height: 34px;
  margin-left: 0;
  margin-right: 0;
}