.tooltip {
    .tooltip-inner {
        background-color: @warning-color;
    }
}

.tooltip.top, .tooltip.bottom {
    .tooltip-arrow {
        border-top-color: @warning-color;
        border-bottom-color: @warning-color;
    }
}

.tooltip.left, .tooltip.right {
    .tooltip-arrow {
        border-left-color: @warning-color;
        border-right-color: @warning-color;
    }
}

#tab_selector {
    text-transform: uppercase;
    font-size: @font-size-small;
    border-top: 1px dotted @table-border-color;
    padding-top: 20px;
    margin-top: 18px;
}

h3.id {
    margin-top: 0px;
}

.tab-content {
    .bumper(40px);
}

.final_save {
    display: block;
    border-top: 1px dotted @table-border-color;
    padding-top: 15px;
    margin-top: 20px;
}