.date {
    font-weight: bold;
    text-align: right;
}

.notification {
    .btn-group {
        margin-top: -10px;
    }

    .notification-icon,
    time {
        color: @gray;
        font-weight: normal;
    }

    .dismiss-notice {
        color: @link-color;
    }
}

#notifications {
    min-height: 200px;
}