#myFormsets .col-xs-2 input[type=text], #myFormsets .col-xs-4 input[type=text] {
    width: 100%;
}
#myFormsets .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
}
#myFormsets .form-group button.btn-link {
    padding-left: 0;
    padding-right: 0;
    outline: 0 !important;
    height: 34px;
}
#myFormsets .form-group button.btn-link:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}
#myFormsets .form-header-row {
    background-color: #EFEFEF;
    margin: 0 0 20px 0 !important;
    text-align: center;
}
#myFormsets .form-header-row div {
    margin: 0.8em 0;
}
#myFormsets .form-header-row div:first-child {
    margin-left: -8px;
}
#myFormsets .form-footer-row {
    margin-top: -8px;
}
#myFormsets legend {
    margin-bottom: 0;
}
#myFormsets fieldset {
    margin-bottom: 30px;
}

textarea#body {
    min-height: 200px;
    overflow: scroll;
    overflow-y: scroll; 
    overflow-x: scroll; 
    overflow:-moz-scrollbars-vertical;
}

.tab-content {
    .bumper(40px);
}

.tab-pane {
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #D9D9D9;
    border-top: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    min-height: 415px;
}

#step_two, #delete_step_two {
    display: none;
}

div.spinner {
    display: none;
    position: absolute;
    top: 20px;
    left: 25%;
    background-color: #aedef4;
    filter:alpha(opacity=70);
    opacity:.7;
}

fieldset div.row {
    margin-bottom: 25px;
}

#vialogues_info ul.list-unstyled li {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#video_switcharoo h4, #delete_vialogue h4 {
    margin-bottom: 0;
}

#video_switcharoo legend {
    cursor: pointer;
}

legend {
    border-bottom: none;
}