.well {
    padding: 14px;
    border-color: @table-border-color;
    border-radius: @border-radius-base;
    .box-shadow(none);
    margin-top: @margin-large-vertical;

    .name_id h3 {
        margin-top: 0px;
    }
}

.nav-pills {
    > li {
        > a {
            border-radius: @border-radius-base;
        }
    }
}

.row {
    &.explore_row {
        &:first-child {
            padding-top: 0px;
        }
    }
}

#video_sort_dropdown {
    position: relative;
    top: 12px;
}
