.well {
    margin-top: @margin-large-vertical;

    .name_id h3 {
        margin-top: 0px;
    }
}

.nav-pills {
    > li {
        > a {
            border-radius: @border-radius-base;
        }
    }
}

#video_sort_dropdown {
    position: relative;
    top: 12px;
}
