#search_left {
    /* these styles need be tested on a web server. my local dev instance can't handle search */
    position: relative;

    .breadcrumb {
        position: absolute;
        right: 15px;
        top: 27px;
    }

    #sort_options_dropdown {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

#tag_search {

	h3{
		display:inline-block;
		word-wrap:break-word;
		width: 75%;
	}
	#see_all {
		position:absolute;
		top:25px;
		right:10px;
		display: none;
	}
    #tagged_discussions {
        .vialogue-entry {
            padding-left: 29px;
            padding-right: 29px;
            .thumbnail {
                height: 107px;
                overflow: hidden;
            }
        }
    }
}
