#sort_options_dropdown {
    top: 4px;
}

#video_seeall {
    top: 22px;
}

.explore_video {
    padding-bottom: 14px;
    border-bottom: 1px dotted @table-border-color;

    h6 {
        font-size: @font-size-med;
        font-weight: normal;
        line-height: 1.3em;
        color: @gray-dark;
        margin-bottom: 6px;
        margin-top: 0px;
        text-transform: capitalize;
    }

    .media-body {
        color: @gray;
        line-height: 1.3em;
    }
}

.btn-group.btn-group-sm.avideo {
    padding-top: 8px;
}

.avideo .btn-default .badge {
    color: @brand-theme;
    font-size: @font-size-xsmall;
}

.btn-xs.avideo {
    padding: 3px 9px;
    margin-top: 4px;
    font-size: @font-size-xsmall;
}

.glyphicon.glyphicon-film {
    color: @gray;
}