// Had to use a specific pixel width to ensure video player has the correct aspect ratio
@fixed-player-width: 530px; 

position: relative;

#play_main {
    background-color: @gray-lighter;
    margin-left: 0;
    margin-right: 0;
    .bumper(60px);
    padding-top: 15px;
    padding-bottom: 15px;

    #main_left {
        overflow: visible;
        position: relative;
        z-index: 200;

        .alert {
            .strong;
            &.alert-danger {
                .vialogues-danger-color;
            }
            &.alert-warning {
                .vialogues-info-color;
            }
        }

        #player_placeholder {
            background-color: #000;
            position: relative; /* import for player to stay on top of other elements */
            z-index: 999;
        }

        #player_comment_box {
            width: @fixed-player-width;
            position: relative;

            #comment_form {
                width: 100%;
                overflow: hidden;
                position: relative;
                background-color: #efefef;
                padding-bottom: 15px;
                z-index: 100;

                #comment_input {
                    .bumper(5px);
                    height: 100%;
                    width: 100%;

                    #comment_textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                        border: solid 1px @gray-light;
                    }
                }

                #comment_buttons {
                    height: 100%;

                    #comment_buttons_left, #comment_buttons_right {
                        white-space: nowrap;
                        .btn {
                            display: inline-block;
                            color: @blue;
                        }
                        #post_comment_button {
                            color: #fff;
                        }
                        #fav_button {
                            padding: 0;
                            .star-container {
                                padding: 6px 9px;
                                display: block;
                            }
                        }
                    }
                }
            }

            #survey_form {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 485px;
                padding: 10px 15px;
                display: none;
                background-color: #fff;
                border: solid 2px @brand-primary;
                border-left: none;
                z-index: 50;

                .form-group {
                    margin-bottom: 5px;
                }

                #survey_options_list {
                    list-style-type: upper-alpha;
                    padding-left: 20px;

                    > li {
                        > input, > label {
                            width: 400px;
                        }
                    }

                    .add-survey-option, .remove-survey-option {
                        display: block;
                        .pull-right;
                        .glyphicon {
                            .vialogues-primary-color;
                        }
                    }
                }

                #survey_type_group {
                    > label {
                        margin-right: 10px;
                    }
                }

                #survey_textarea {
                    height: 75px;
                    resize: none;
                    margin-bottom: 5px;
                }

                #survey_form_controls {
                    text-align: right;
                }
            }
        }

        > #share_central {
            margin-left: 0;
            margin-right: 0;
            border-top: solid 4px @gray-light;
            position: relative;

            #tab_selector {
                padding: 0;

                > li {
                    font-size: @font-size-xsmall;

                    > a {
                        padding: 10px 7px;
                        border: none;
                    }

                    &.active {
                        > a, > a:hover, > a:focus {
                            background-color: #f7f7f7;
                        }
                    }
                }
            }

            #share_bucket {
                .bumper(15px);
                width: @fixed-player-width;
                height: 250px;
                padding: 15px;
                background-color: #f7f7f7;
                color: #777;

                h5 {
                    margin-bottom: 0;
                }

                #video_info {
                    p {
                        margin-top: 10px;
                        margin-bottom: 8px;
                        line-height: 14px;
                    }
                    .form-group {
                        margin-bottom: 0;
                    }
                }

                #share {
                    #share_url {
                        .gray-color;
                        height: auto;
                        word-wrap: break-word;
                        cursor: text;
                    }

                    #share_right {
                        border-left: dotted 1px @gray-light;
                        padding-left: 40px;

                        .share-logo {
                            > span:before {
                                color: #fff;
                                background-color: @gray;
                                line-height: 24px;
                                width: 24px;
                                display: inline-block;
                                text-align: center;
                                vertical-align: middle;
                            }

                            .icon-facebook:before {
                                text-indent: 5px;
                            }

                            .icon-facebook:hover:before {
                                background-color: #3a5897;
                            }

                            .icon-gplus:hover:before { 
                                background-color: #c03120;
                            }

                            .icon-twitter:hover:before { 
                                background-color: #00aced;
                            }

                            .icon-email:hover:before { 
                                background-color: #f36f21;
                            }
                        }
                    }
                }

                #embed {
                    #embed_code {
                        .gray-color;
                        background-color: #fff;
                        margin-bottom: 10px;
                        height: 54px;
                        font-size: @font-size-xsmall;
                        font-family: "Andale Mono", Courier, monospace;
                        word-break: break-all;
                        resize: none;
                        cursor: text;
                    }
                }

                #share_start_time, #embed_start_time {
                    display: inline-block;
                    width: 75px;
                }
            }

            #share_commands {
                border-left: #ccc 1px solid;
                font-size: @font-size-xsmall;
                min-height: 300px;
                padding: 5px 0;

                > li a {
                    padding: 0 5px;
                    line-height: 24px;
                    white-space: nowrap;
                }
            }
        }
        &.affix {
            width: inherit;
            top: 50px;
            position: fixed;
        }
        &.affix-top {
            position: relative;
        }
        &.affix-bottom {
            position: absolute;
            width: inherit;
            top: auto;
            bottom: 0;
        }
    }

    #main_right {
        .pull-right;
        z-index: 100;

        > #vialogue_info_outer {

            margin-right: 0;

            #vialogue_info_toggle {
                .hspacer(5px);

                > h3 {
                    display: inline;
                }

                .icon-comment-1 {
                    color: #fff;
                    width: 25px;
                    vertical-align: text-bottom;
                    display: inline-block;
                    position: relative;
                    margin: 0 10px;
                    &:before {
                        font-size: @font-size-large;
                        color: @brand-theme;
                        z-index: -1;
                        width: 30px;
                        height: 18px;
                        margin-left: -5px;
                    }
                    .text-over {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        display: block;
                        z-index: 200;
                        font-size: @font-size-xxsmall;
                        margin: 0;
                    }
                }

                .glyphicon {
                    float: right;
                }

                .glyphicon-collapse-down {
                    display: none;
                }

                &.collapsed {
                    .glyphicon-collapse-down {
                        display: inline-block;
                    }

                    .glyphicon-collapse-up {
                        display: none;
                    }
                }
            }

            #vialogue_info {
                .hspacer(5px);
                padding: 15px;
                border: solid 1px @gray-light;
                background-color: #f7f7f7;
                p {
                    margin: 0;
                    &+p {
                        margin-top: 10px;
                    }
                }

                label {
                    color: @gray;
                }
            }
        }

        > #view_discussions {
            .hspacer(15px);
            padding-bottom: 15px;
            margin-right: 0;
            border: solid 1px @gray-light;
            background-color: #fff;

            p {
                margin-bottom: 0;
            }

            .thread-div  {
                &.hilite-time {
                    background-color: #fde6e6;
                }

                .time-code {
                    position: absolute;
                    .strong;
                    z-index: 999;
                    left: 8px;
                    top: 8px;
                }

                .thread-main {
                    z-index: 100;
                    padding-top: 10px;

                    .collapsible {
                        .collapse-trigger {
                            display: block;
                            background-color: @gray-lighter;
                            text-transform: uppercase;
                            margin-left: 40px;
                            padding: 5px;
                            > .glyphicon {
                                float: right;
                            }
                        }
                    }

                    .comment-div {
                        padding: 0 30px 0 55px;
                        position: relative;
                        margin-left: -15px;
                        margin-right: -15px;

                        .btn-survey-form {
                            font-size: @font-size-small;
                            border-radius: 0;
                            padding: 0 5px;
                            .hspacer(5px);
                        }

                        .comment-head {
                            position: absolute;

                            .new-placeholder {
                                position: relative;
                                left: -35px;
                                top: 20px;
                            }

                            .edit-placeholder, .delete-placeholder {
                                display: inline-block;
                                width: 2em;
                                height: 2em;
                                line-height: 2em;
                                text-align: center;
                                .hidden();
                            }

                            .edit-placeholder {
                                .vialogues-primary-color;
                            }

                            .delete-placeholder {
                                .vialogues-theme-color;
                            }
                        }

                        .comment-body {
                            position: relative;

                            .comment-body-text {
                                padding-right: 10px;

                                &.truncate-4 {
                                    position: relative;
                                    max-height: 80px;
                                    overflow-y: hidden;
                                    -moz-transition: max-height 0.4s;
                                    -ms-transition: max-height 0.4s;
                                    -o-transition: max-height 0.4s;
                                    -webkit-transition: max-height 0.4s;
                                    transition: max-height 0.4s;
                                    &:after {
                                        content: "...";
                                        position: absolute;
                                        text-align: right;
                                        width: 2em;
                                        bottom: 0;
                                        right: 0;
                                    }
                                }
                                &.expand {
                                    max-height: 9999px;
                                    &:after {
                                        .hide;
                                    }
                                }
                            }

                            .timeago {
                                color: @gray;
                                line-height: 2em;
                            }

                            .toggle-comment-lbl {
                                float: right;
                            }

                            .controls-placeholder {
                                visibility: hidden;
                                button {
                                    .btn;
                                    .btn-xs;
                                    .btn-link;
                                    &.delete-comment-btn {
                                        .vialogues-theme-color;
                                    }
                                }
                            }

                            &:hover {
                                .controls-placeholder {
                                    visibility: visible;
                                }
                            }

                            .survey-form {
                                position: relative;

                                .option-key {
                                    .hidden;
                                }

                                .radio, .checkbox {
                                    margin-bottom: 0;
                                    margin-top: 0;
                                    padding-left: 20px;
                                }

                                .already-responded {
                                    font-style: italic;
                                    color: #970a07;
                                }
                            }

                            .comment-edit-form {
                                > textarea {
                                    width: 100%;
                                    min-height: 50px;
                                    max-height: 250px;
                                    margin-bottom: 5px;
                                }
                                .edit-btns {
                                    text-align: right;
                                    width: 100%;
                                }
                                .survey-options-list {
                                    .list-unstyled;
                                    display: inline-block;
                                    margin-right: 5px;

                                    input[type="text"] {
                                        width: 240px;
                                    }

                                    li {
                                        white-space: nowrap;
                                    }
                                }
                                .glyphicon {
                                    color: @gray;
                                }
                            }

                            .reply-btn {
                                .pull-right;
                                margin-top: -24px;
                                margin-right: -29px;
                                .icon-reply {
                                    .vialogues-theme-color;
                                    display: inline-block;
                                    width: 2em;
                                    height: 2em;
                                    line-height: 2em;
                                    text-align: center;
                                }
                            }

                            .alert {
                                padding: 8px;
                                margin-bottom: 0;
                            }
                        }

                        .comment-foot {
                            .bumper(5px);
                            .hspacer(5px);
                            border-bottom: solid 1px @gray-light; /* FIX-NEEDED: only the last-of-type needs border but this is messed up by collapsible */

                            .post-reply {
                                position: relative;

                                > textarea {
                                    width: 100%;
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        .edit-comment {
                            .edit-comment-content {
                                border: solid 1px @gray;
                                margin-bottom: 5px;
                                width: 100%;
                                height: 45px;
                            }

                            .survey-options-list {
                                list-style-type: upper-alpha;
                                padding-left: 20px;
                                > .survey-option-last-item {
                                    > input {
                                        width: 200px;
                                    }
                                }
                            }

                            .form-group {
                                margin-bottom: 0;
                            }

                            .btn-group {
                                .pull-right;
                                margin-bottom: 5px;
                            }
                        }

                        &.child-comment {
                            padding-top: 5px;
                            .new-placeholder {
                                top: 0;
                            }
                        }
                        &.hilite-new {
                            background-color: #d9edf7;
                        }
                    }
                }
            }
        }
    }
}