#target_section {
    .hspacer(20px);

    .vialogue-entry {
        .thumbnail {
            height: 169px;

            .img-responsive {
                max-height: 169px;
            }
        }
    }
}

#sort_options_dropdown {
    top: 10px;
}

#center_section {
    .bumper(30px);
}
