#required {
    position: absolute;
    right: 15px;
    top: 25px;
}

#manage_left {
    padding: 0 15px 15px 0;
    .bumper(15px);

    .vialogue-entry {
        margin-right: 15px;

        .thumbnail {
            .img-responsive {
                max-height: 127px;
            }
        }
    }

    #tab_selector {
        > li {
            text-align: center;
        }
    }

    .tab-content {
        min-height: 300px;

        .tab-pane {
            position: relative;
            padding: 15px;
            h3 {
                margin-top: 0;
            }
            .req-msg {
                color: @warning-color;
            }
        }

        #manage_polls {
            padding-left: 0;
            padding-right: 0;
            .panel {
                border-top: none;
                border-left: none;
                border-right: none;
                .panel-heading {
                    background-color: transparent;
                    .time-code {
                        .gray-color;
                    }
                    .poll-author {
                        .vialogues-theme-color;
                    }
                }
                .panel-collapse {
                    .highcharts-container {
                        border: solid 1px @gray-dark;
                    }
                }
            }
        }
    }
}

#manage_right {
    border-left: solid 1px @gray-light;
    padding: 0 0 15px 15px;
    .bumper(15px);

    #vialogue_privacy_settings_details {
        .bootstrap-tagsinput {
            background-color: transparent;
            .twitter-typeahead {
                background-color: #fff;
            }
            .tag.persistent {
                span[data-role="remove"] {
                    .hidden; /* make sure user cannot remove a "persistent" user */
                }
            }
        }
        #vialogue_secure_link {
            height: auto;
            word-break: break-all;
        }
    }
}
