#my_videos {
    padding-right: 0;
    > h3 {
        margin-top: 18px;
    }
}

#tab_selector {
    .divider-top;
    padding-top: 15px;
}

#all_discussions, #recommended_discussions, #search_discussions {
    .pagination, .breadcrumb {
        display: block;
        position: absolute;
        right: 25px;
        white-space: nowrap;
    }

    .pagination {
        top: 45px;
    }

    .breadcrumb {
        top: 20px;

        .active a {
            color: @text-color;
        }
    }
}
