#required {
    position: absolute;
    right: 15px;
    top: 25px;
}

#create_form {
    section {
        .hspacer-10;
    }
    
    .input-group-btn button {
        margin-left: 3px;
    }
    
    .video-preview {
        .media {
            > .pull-left {
                width: 75px;
                text-align: center;
                .media-object, .remove-video-review {
                    width: 100%;
                }
            }
            .media-body {
                max-height: 125px;
            }
        }
        .remove-video-preview {
            .hspacer-10;
        }
    }
    
    #create_new {
        #edit_captions {
            #browse_cc {
                position: relative;
            }
            
            #caption_error_message {
                h5 {
                    color: @brand-danger;
                }
            }
        }
    }
    
    #attachExistingVialogue, #attachExternalVideo {
        height: 31px;
    }
    
    #searchVideoBtn {
        width: 31px;
        height: 31px;
        .icon-search:before {
            margin: 0;
        }
    }
}