.tooltip {
    .tooltip-inner {
        background-color: #c00;
    }
}

.tooltip.top, .tooltip.bottom {
    .tooltip-arrow {
        border-top-color: #c00;
        border-bottom-color: #c00;
    }
}

.tooltip.left, .tooltip.right {
    .tooltip-arrow {
        border-left-color: #c00;
        border-right-color: #c00;
    }
}

#required {
    position: relative;
    top: 10px;
}

#manage_video {
    #basic_info_left {
        border-right: 1px dotted @table-border-color;
    }

    #basic_info_right {
        .video-left {
            width: 80px;

            .thumbnail {
                background-color: #000;
                padding: 0;
                margin: 0;
                border-radius: 0;
                border: none;
                height: 45px;

                .media-object {
                    max-height: 45px;
                }
            }
        }
    }
}

#controls {
    border-top: 1px solid @table-border-color;
    padding-top: 15px;
    margin-top: 20px;

    .btn {
        text-transform: uppercase;
    }
}

.checkbox-group {
    margin-bottom: 15px;

    strong {
        display: block;
        margin-bottom: 5px;
    }

    .checkbox {
        &:first-of-type {
            margin-top: 0;
        }
    }
}