#video_vialogues {
	
	margin-bottom: 40px;
	position: relative;
	
	>.pagination {
		position: absolute;
		top: -50px;
		right: 0;
	}
	
	>#videos_house {
		width: 100%;
		
		>.video-entry-row {
			width: 100%;
			
			>.video-entry-full {
				.clearfix;
				.divider-top;
				width: 45%;
				min-height: 140px;
				margin: 0 5% 0 0;
				padding: 20px 20px 0 0;
				float: left;
				
				> .thumbnail, > .description {
					display: inline-block;
				}
				
				> .thumbnail {
					margin-right: 15px;
				}
				
				> .description {
					width: 300px;
				}
				
				> .caption {
					.strong;
				}
				
				> .new {
					position: absolute;
					top: 135px;
				}
			}
		}
	}
}