#video_vialogues {
    .divider-top;
    margin-bottom: 40px;
    position: relative;
    
    .pagination {
        position: absolute;
        right: 0;
    }
    
    #videos_house {
        width: 100%;

        .video-entry-row {

            .video-entry-full {
                .clearfix;
                height: 130px;

                .video-entry-left {
                    .pull-left;
                    width: 33.3333%;
                }

                .media-body {
                    width: 66.6666%;
                    max-height: 120px;
                    padding-left: 10px;
                    h5 {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
