.tooltip {
    .tooltip-inner {
        background-color: #c00;
    }
}

.tooltip.top, .tooltip.bottom {
    .tooltip-arrow {
        border-top-color: #c00;
        border-bottom-color: #c00;
    }
}

.tooltip.left, .tooltip.right {
    .tooltip-arrow {
        border-left-color: #c00;
        border-right-color: #c00;
    }
}

#required {
    position: relative;
    top: 10px;
}

#manage_video {
    #basic_info_left {
        border-right: 1px dotted @table-border-color;
    }

    #basic_info_right {
        #video_thumb {
            max-height: 55px;
        }
    }
}

#controls {
    border-top: 1px solid @table-border-color;
    padding-top: 15px;
    margin-top: 20px;
}